
<div class="container StudentDetails">
    <div class="row std">
      <div class="col-lg-12">
        <h3><b>Student Details</b></h3>
      </div>
    </div>
  
    <div class="row">
        <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="md-form">
          <input value="" type="text" id="form6" class="form-control" mdbInputDirective>
          <label for="form6">First Name</label>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  
    <div class="row">
        <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="md-form">
          <input value="" type="text" id="form6" class="form-control" mdbInputDirective>
          <label for="form6">Last Name</label>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  
    <div class="row">
        <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="md-form">
          <input value="" type="text" id="form6" class="form-control" mdbInputDirective>
          <label for="form6">Full Name</label>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  
    <div class="row">
        <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="md-form">
          <input value="" type="text" id="form6" class="form-control" mdbInputDirective>
          <label for="form6">Index Number</label>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  
    <div class="row">
        <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="md-form">
          <input value="" type="text" id="form6" class="form-control" mdbInputDirective>
          <label for="form6">Grade</label>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  
  <!-- Confirm button -->
    <div class="container">
      <div class="row confirmbtn">
        <div class="col-lg-7"></div>
        <div class="col-lg-5"> 
        
            <a routerLink='/home'> <button type="button" mdbBtn color="default" mdbWavesEffect>Back</button></a>

        <button type="button" mdbBtn color="success" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
        mdbWavesEffect>Add</button>

        
        
        <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
            
  
              <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="success" class="waves-light" mdbWavesEffect>Submit..!!</button>
              </div>
            </div>
          </div>
        </div>

      </div>   
      </div>
    </div>
    <!-- End Confirm button -->
  
  </div>
  