
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"><b>Student Record Book</b></a></mdb-navbar-brand>
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
                <a routerLink='/'> <button type="button" mdbBtn color="light" mdbWavesEffect>Logout</button></a>
        </ul>
        <!-- Links -->
        
    </links>

</mdb-navbar>
<!--/.Navbar-->

<div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2">
  <div class="addstd">
      
      <a routerLink='/Addstd'><button type="button" mdbBtn color="primary" mdbWavesEffect>Add Student</button></a>
  </div>
</div>
<div class="col-lg-5"></div>
</div>

<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
    <div class="addmarks">
            <a routerLink='/addmarks'><button type="button" mdbBtn color="primary" mdbWavesEffect>Add Marks</button></a>
    </div>
  </div>
  <div class="col-lg-5"></div>
  </div>

  <div class="row">
      <div class="col-lg-5"></div>
      <div class="col-lg-2">
      <div class="stat">
            <a routerLink='/stat'><button type="button" mdbBtn color="primary" mdbWavesEffect>Statistics</button></a>
      </div>
    </div>
    <div class="col-lg-5"></div>
    </div>