<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand">Student Record Book</a></mdb-navbar-brand>
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <button type="button" mdbBtn color="light" mdbWavesEffect>Logout</button>
        </ul>
        <!-- Links -->
        
    </links>

</mdb-navbar>
<!--/.Navbar-->

<div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2">
  <div class="addstd">
      <button type="button" mdbBtn color="primary" mdbWavesEffect>Add Student</button>
  </div>
</div>
<div class="col-lg-5"></div>
</div>

<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
    <div class="addmarks">
        <button type="button" mdbBtn color="primary" mdbWavesEffect>Add Marks</button>
    </div>
  </div>
  <div class="col-lg-5"></div>
  </div>