<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"><b>Student Record Book</b></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink='/'> <button type="button" mdbBtn color="light" mdbWavesEffect>Logout</button></a>
            </li>
            

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<div class="container StudentDetails">
    <div class="row Marks">
      <div class="col-lg-12">
        <h3><b>Student Marks</b></h3>
      </div>
    </div>
</div>