
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#"><b>Student Record Book</b></a></mdb-navbar-brand>

</mdb-navbar>
<!--/.Navbar-->

<div class="row">
  <div class="col-lg-5"></div>
  <div class="col-lg-2">
  <div class="addstd">
      
      <a routerLink='/Addstd'><button type="button" mdbBtn color="primary" mdbWavesEffect>Avarage</button></a>
  </div>
</div>
<div class="col-lg-5"></div>
</div>

<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-2">
    <div class="addmarks">
            <a routerLink='/addmarks'><button type="button" mdbBtn color="primary" mdbWavesEffect>Rank</button></a>
    </div>
  </div>
  <div class="col-lg-5"></div>
  </div>

  